{% extends 'news/base.html' %}
{% load static %}
{% block content %}
    <section class="news">
        <div class="container">
            <div class="news-content">
                {% for new in news %}
                    {% if new.is_published %}
                        <div class="news-item">
                            <a href="{% url 'news:new_detail' new.id %}">
                                <div class="news-item_img">
                                    <img src="/media/{{ new.image }}" alt="img">
                                </div>
                                <div class="news-item_header">{{ new.header }}</div>
                                <div class="news-item_category"> {{ new.category }}</div>
                                <div class="news-item_descr">{{ new.short_descr }}</div>
                            </a>
                        </div>
                    {% endif  %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
